/*   Тут для десктопных   */

@media (max-width:2000px) {
    .wars {
        top: -82%;
    }
}

@media (max-width:1800px) {

    .wars {
        top: -87%;
    }
}

@media (max-width:1700px) {
    .b3 {
        font-size: 0.9vw;
    }

    .b3-1 {
        font-size: 1.1vw;
    }

    .b4 {
        font-size: 1vw;
    }

    .b5 {
        font-size: 0.8vw;
    }

    h1 {
        font-size: 5.5vw;
    }

    .starWars-container {
        top: 5%;
    }

    .steps .step {
        width: 25%;
    }

    .wars {
        top: -82%;
    }

    .steps .step {
        width: 30%;
    }

    iframe {
        width: 100%;
        margin-left: 5%;
    }
}

@media (max-width:1600px) {
    .wars {
        top: -80%;
    }

    .infoText .b1 {
        font-size: 1.2vw;
    }
}

@media (max-width:1500px) {
    .contacts_container {
        margin-left: 2%;
    }

    .swiper-slide {
        width: 35% !important;
        margin-left: 7%;
    }

    .infoText .b1 {
        font-size: 1.4vw;
    }
}

@media (max-width:1400px) {
    .whoIs p {
        font-size: 1.8vw;
    }
    .infoText .b1 {
        font-size: 1.6vw;
    }

    .steps .step {
        width: 30%;
    }

    .wars {
        top: -60%;
    }
}

@media (max-width:1300px) {
    .b3 {
        font-size: 1.3vw;
    }

    .b3-1 {
        font-size: 1.3vw;
    }

    .b4 {
        font-size: 1.1vw;
    }

    .b5 {
        font-size: 1vw;
    }

    h1 {
        font-size: 5.5vw;
    }

    .info-blocks .left {
        margin-left: 0;
    }

    .info-blocks .right {
        margin-right: 0;
    }

    .info-block {
        width: 42%;

        justify-content: space-around;
    }

    .info-blocks .right .right-elements img {
        width: 60%;
    }

    .menu-container {
        width: 25%;
    }
    .left-nav-bar {
        width: 90%;
    }

    .wars {
        top: -80%;
    }

    .logo {
        height: 35%;
    }
    .contactsLogo {
        max-width: 4vh;
        max-height: 4vh;
        height: 3vh;
    }
    .copyright_container a {
        font-size: 1vw;
    }
    .copyright_container {
        width: 60%;
    }
}

@media (max-width:1200px) {
    h1 {
        font-size: 6vw;
    }

    .b3 {
        font-size: 1.5vw;
    }
}

@media (max-width:1150px) {
    .b3-1 {
        font-size: 1.5vw;
    }

    .wars {
        top: -45%;
    }
}

@media (max-width:1000px) {
    .wars {
        top: -20%;
    }

    .main-wrapper {
        height: 44vh;
    }

    .info-block {
        height: 80%;
        width: 45%;
        padding: 1vh 0.5vw 1vh 0.5vw;
    }
}

