@font-face {
  font-family: Angst-700;
  src: url(/fonts/angst/static/Angst-Normal.woff);
}

@font-face {
  font-family: Angst-400;
  src: url(/fonts/angst/static/Angst-Thin.otf);
}

@font-face {
  font-family: Hauora-400;
  src: url(/fonts/hauora/fonts/otf/Hauora-ExtraLight.otf);
}

@font-face {
  font-family: Hauora-800;
  src: url(/fonts/hauora/fonts/otf/Hauora-Bold.otf);
}

@font-face {
  font-family: Hauora-700;
  src: url(/fonts/hauora/fonts/otf/Hauora-SemiBold.otf);
}

.b1-swiper {
  font-size: 1.1vw;
}

body {
  background-repeat: no-repeat;
  width: 95%;
  height: 95%;
}

.backsideBody {
  display: flex;
  background-image: url(/constellations/cards/childInfoCards/childInfoSvgs/backgroundBackside.svg);
  background-size: cover;
  width: 90%;
  height: 85%;
  flex-direction: column;
  transform: rotateY(180deg);
  justify-content: end;
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.cardContainer .backsideBody p {
  color: #fff;
  opacity: 50%;
}

p {
  margin: 0;
}

.constellClische {
  width: 168px;
  font-family: Angst-400;
  font-size: 24.997px;
  line-height: 0;
  letter-spacing: 0.15rem;
}

.constellName {
  margin-top: 19px;
  margin-bottom: 39px;
  font-family: Angst-700;
  font-size: 35px;
  line-height: 36px;
  letter-spacing: 0.3rem;
}

.backsideInfo {
  margin-left: 32px;
}

.frontsideBody {
  display: flex;
  width: 100%;
  color: #fff;
  height: 100%;
  background-image: url(/constellations/cards/childInfoCards/childInfoSvgs/backgroundFrontside.svg);
  background-size: cover;
}

.frontsideContainer {
  margin-top: 7%;

  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.namePhotoConstell {
  display: flex;
  flex-direction: row;
  width: 85%;
  justify-content: space-between;
  align-items: flex-start;
}

.namePhotoConstell img {
  width: 70%;
}

.nameConstell_Container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dream {
  margin-bottom: 7%;
}

.infoText {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 50%;
}

.infoText * {
  font-family: Hauora-400;
  font-size: 20px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.btnContainer {
  position: absolute;
  bottom: 8%;

  width: 80%;
  height: 10%;
}

.btn {
  outline: none;
  border: none;
  font-family: Hauora-800;
  font-size: 19px;
  color: #080839;
  background-color: #eca100;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffb007;
}

.whoIs {}

.nameConstell_Container img {
  width: 90%;
}

.whoIs * {
  display: flex;
  justify-content: end;
  font-family: Hauora-700;
  font-size: 22px;
}

.swiper-slide {
  transform-style: preserve-3d;
}

/* .cardContainer:hover .backsideBody {
    display: none;
    }
    .cardcontainer:hover .frontsideBody {
    display: flex;
    animation: disappearance 0.3s 0s 1 ease-out;
    } */
/* .swiper-slide .swiper-slide-active .backsideBody .frontsideBody */
.frontsideBody {
  display: none;
}



.swiper-slide-active .frontsideBody {
  display: flex;
  z-index: 10;
}

.swiper-slide-active .backsideBody {
  display: none;
}