:root {
  --constellationColor: red;
}
.constellationGroup__slider {
  position: absolute;
  margin-top: 1%;
  width: 99vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
}

.constellationToClick {
  z-index: 10;
  fill: red !important;
  max-width: 300px;
  max-height: 300px;
  cursor: pointer;
}
.constellationToClick > svg > circle,
.constellationToClick > svg > path .constellationToClick > svg > g {
  fill: red !important;
}
.topConstellationPair_constellationGroup__slider.reduce_line {
  height: 60%;
}
.topConstellationPair_constellationGroup__slider {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.bottomConstellationPair_constellationGroup__slider {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.hideConstellationGroup__slider {
  display: none;
}
.rotate-60 {
  transform: rotate(-60deg);
}
.rotate-120 {
  transform: rotate(-120deg);
}
.rotate-180 {
  transform: rotate(-180deg);
}
.rotate-240 {
  transform: rotate(-240deg);
}
.rotate-300 {
  transform: rotate(-300deg);
}
.constellation__slider {
  height: 66vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}
