body{
    background-color: #080839;
}
.img{
    /* Group 2043682604 */

    position: absolute;
    width: 356.02px;
    height: 346.78px;
    left: 109.16px;
    top: 200px;


}
.slide1-p{
    /* Детские мечты, оставленные позади из-за тяжёлой болезни, зажигаются на бескрайнем небосводе. Они превращаются во множество маленьких звёзд и составляют целые созвездия, которые видны лишь в канун Нового года. Зажигая их, мы поможем детям не только найти путь к выздоровлению, но и стать ближе к осуществлению их заветной мечты. */

    position: absolute;
    width: 400.67px;
    height: 213px;
    left: calc(50% - 534.67px/2 + 212.34px);
    top: 240px;

    /* b1 */
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */
    /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */
    leading-trim: both;
    text-edge: cap;
    letter-spacing: 0.04em;

    /* основной цвет */
    color: #F6F1FF;


}
.slide1-button{

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 23px 45px;
    gap: 10px;

    position: absolute;
    width: 309px;
    height: 60px;
    left: calc(50% - 309px/2 + 99.5px);
    top: 415px;

    background: #ECA100;

}
.slide1-h3{
    /* Зажги созвездие */

    width: 175px;
    height: 14px;

    /* кнопка */
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 14px;
    /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */
    leading-trim: both;
    text-edge: cap;
    text-align: center;
    letter-spacing: 0.04em;

    color: #080839;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.slide1-a{
    /* Group 2043682361 */

    position: absolute;
    width: 35px;
    height: 35px;
    left: 1684px;
    top: 0px;





}
.slide1-h1{
    /* АНДРЕЙ, */

    position: absolute;
    width: 191.7px;
    height: 19.03px;
    left: calc(50% - 191.7px/2 + 40.85px);
    top: 183px;

    /* S1 */
    font-family: 'Hauora';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    /* or 127% */
    /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */
    leading-trim: both;
    text-edge: cap;
    letter-spacing: 0.04em;

    color: #F6F1FF;


}