body {
    background-image: url('mainPNG/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.logo {
    margin: 50px 0 780px 57px;
    max-width: 15%;
}

.mom {
    margin: 50px 0 544px 66px;
    max-width: 15%;
}

.nastenkaLogo {
    margin: 48px 300px 779px 330px;
    max-width: 15%;
}

.firecar {
    margin-left: 37px;
    margin-bottom: 645px;
    max-width: 15%;
}