@media (max-width:2000px) {
    .wars {
        top: -88%;
    }
}

@media (max-width:1800px){

    .wars {
        top: -875%;
    }
}

@media (max-width:1700px){
    .b3 {
        font-size: 1.1vw;
    }
    .b3-1 {
        font-size: 1.1vw;
    }
    .b4 {
        font-size: 1vw;
    }
    .b5 {
        font-size: 0.9vw;
    }
    h1 {
        font-size: 5.5vw;
    }


    .starWars-container {
        top: 5%;
    }

    .steps .step {
        width: 25%;
    }

    .wars {
        top: -82%;
    }
}

@media (max-width:1600px){
    .wars {
        top: -75%;
    }
}

@media (max-width:1500px){
    
}


@media (max-width:1400px){
    .steps .step {
        width: 30%;
    }

    .wars {
        top: -60%;
    }
}

@media (max-width:1300px){
    .b3 {
        font-size: 1.4vw;
    }
    .b3-1 {
        font-size: 1.3vw;
    }
    .b4 {
        font-size: 1.1vw;
    }
    .b5 {
        font-size: 1vw;
    }
    h1 {
        font-size: 6.5vw;
    }

    .info-blocks .left {
        margin-left: 0;
    }
    .info-blocks .right {
        margin-right: 0;
    }
    .info-block{
        width: 42%;

        justify-content: space-around;
    }

    .left-nav-bar {
        width: 10%;
    }

    .wars {
        top: -50%;
    }
}

@media (max-width:1150px){
    .wars {
        top: -50%;
    }
}