html {
  background-color: black;
}

button {
  border: none;

  background-color: #ECA100;

  cursor: pointer;
}

button:hover {
  background-color: #FFB007;
}

.copyright_container a {
  font-size: 0.8vw;

  color: #F6F1FF;
}

.copyright_container div {
  color: #F6F1FF;
}

.popUp {
  display: none;

  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(8, 0, 20, 0.7);
  backdrop-filter: blur(5px);
  z-index: 10;

  justify-content: center;
  align-items: center;
}

.popUp .side-element {
  width: 13%;
  height: 60%;
}

.popUp .side-element .popup_close {
  width: 13%;

  cursor: pointer;
}

.popUp.active {
  display: flex;
  justify-content: space-between;
}

.popUp-large {
  background-image: url(../assets/Large-popUp-backgraund.png);
  background-size: cover;

  flex-direction: column;
  justify-content: space-between;

  backdrop-filter: blur(30px);
  background-color: rgba(24, 14, 68, 0.9);

  height: 62%;
  width: 55%;

  position: relative;

  padding: 4%;

  z-index: 15;
}

.popUp-large .info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.popUp-large .info-container .left-elements {
  height: 100%;
}

.popUp-large .info-container .left-elements img {
  width: 100%;
}

.popUp-large .info-container .right-elements {
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.popUp-large .info-container .right-elements button {
  height: 17%;
  width: 60%;
}

.popUp-large .info-container .right-elements img {
  height: 70%;
}

.popUp-large .info-container .right-elements .bottom-elements {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.popUp-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.popUp-form .info-container {
  height: 70%;
}

.popUp-form .right-elements {
  margin-top: 2%;
}

.popUp-form .left-elements {
  width: 40%;
}

.popUp-form form input {
  width: 100%;

  margin-bottom: 3vh;

  border: none;
  border-bottom: 2px solid #F6F1FF;
  background: none;
  box-shadow: none;
  outline: none;
}
.PopUp-image-mobile {
  display: none;
}

.popup_close_mobile {
  display: none;
}
.popUp1 {
  display: none;
}

.popUp1.active {
  display: flex;
}

.popUp2 {
  display: none;
}

.popUp2.active {
  display: flex;
}

.popUp3 {
  display: none;
}

.popUp3.active {
  display: flex;
}

.popUp-form {
  display: none;
}

.popUp-form.active {
  display: flex;
}

.popUp-form .info-container .left-elements {
  margin-top: 10%;

  height: 55%;
  width: 100%;
}
.popUp-form form{
  width: 100%;
}
.popUp-form form input {
  font-size: 4vw;
}





main {
  width: 100%;
  height: 86vh;
}

.wrapper {
  height: 100vh;
  background-color: rgba(255, 255, 255, 0);
}

.bgImage-container {
  position: absolute;
  background-image: url(../assets/bg.png);
  height: 100%;
  width: 100vw;
  background-size: cover;
  overflow-x: hidden;
  z-index: -2;
}

.header {
  padding: 4vh 4vw 0 2.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 95vw;
  height: 10vh;
  z-index: 15;
}

.void img {
  display: none;
}


.main-title {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-align: center;
  top: 25%;
  transition-duration: all ease 1s;
  width: 90%;

  margin-top: 4%;

}

.main-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.info-blocks {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  width: 100%;

  z-index: 5;
}

.info-block {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);

  width: 37%;
  height: 75%;

  padding: 1vh 1vw 1vh 1vw;

  z-index: 0;
}

.lower-popUp-wraper {
  height: 75%;
  width: 37%;
}

.info-blocks .left {
  margin-left: 4vw;

  width: 100%;
  height: 100%;
}



.left-info-block-conainer {
  display: flex;
  
  align-items: center;
  justify-content: space-between;

  height: 100%;
  width: 100%;
}

.lower-popUp-botton {
  display: none;
}

.info-blocks .right {
  display: flex;

  margin-right: 5%;
}

.info-blocks .left .video-content {
  object-fit: cover;
  width: 13vw;
  height: 15vh;
  max-height: 170px;
}

.info-blocks .left .right-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 85%;
  width: 60%;
}

.info-blocks .left .right-elements .lover-elements {
  display: none;
}

.title_lower_popUp {
  display: none;
}

.info-blocks .right button {
  height: 25%;
  width: 90%;
}

.info-blocks .right .left-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 85%;
  width: 32%;
}

.info-blocks .right .left-elements h3 {
  color: #F6F1FF;
}

.info-blocks .right .right-elements {
  display: flex;

  flex-direction: column;
  justify-content: flex-end;

  height: 85%;
  width: 60%;
}

.info-blocks .right .right-elements img {
  margin-left: 10%;
  width: 70%;
}

.info-blocks .steps {
  display: flex;

  align-items: flex-end;
  justify-content: space-between;
}

.steps .step {
  width: 20%;
}

.range-wrapper {
  margin-top: 110px;
  position: relative;
  display: flex;
  background: black;
  width: 100%;
  padding: 0;
}

.step h4 {
  font-family: "Angst";

  font-size: 1.5rem;

  line-height: 130%;

  color: #ECA100;
}

.range {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  position: relative;
  opacity: 0.7;
  height: 100px;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.range:hover {
  opacity: 1;
}

.input-container {
  position: relative;
  left: 1%;
  width: 95%;
  height: 9vh;
  display: flex;
  align-items: flex-end;
}

input[type="range"] {
  appearance: none;
  background-color: white;
  width: 100%;
  height: 0;
  padding: 0;
}

.slider-input::before {
  content: '';
  width: 98%;
  height: 36px;
  bottom: 3%;
  position: absolute;
  background-image: url(../assets/scroll/zeroScroll.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.slider-input.threeScroll::before {
  background-image: url(../assets/scroll/144scroll.svg );
}

.slider-input.fourScroll::before {
  background-image: url(../assets/scroll/216scroll.svg );
}

.slider-input.fiveScroll::before {
  background-image: url(../assets/scroll/288scroll.svg );
}

.slider-input.sixScroll::before {
  background-image: url(../assets/scroll/360scroll.svg );
}

.slider-input.twoScroll::before {
  background-image: url(../assets/scroll/72scroll.svg );
}

input[type="range"]::-webkit-slider-runnable-track {
  /* background-image: url(../assets/scroll/zeroScroll.svg); */
}

input[type="range"]::-webkit-slider-thumb {
  -moz-appearance: none !important;
  appearance: none !important;
  position: relative;
  height: 20px;
  width: 100px;
  background: transparent;
  cursor: pointer;
  z-index: 2;
}

.range-text {
  user-select: none;
  pointer-events: none;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: orange;
  text-align: center;
  line-height: 1;
  height: 20px;
  width: 100px;
  transform: translate(0, 2px);
}

body {
  overflow-x: hidden;

}

html {
  font-family: "Khula", sans-serif;

}

.bolvanka {
  padding-left: 15%;
  height: 200px;
  width: fit-content;
}

.stars {
  transform: translate(50% - (width/2), -(50% - (height/2)));
}

.wars {
  transition: all ease 1.5s;
  z-index: -1;
  height: auto;
  position: absolute;
  top: -80%;
  left: -110%;
  width: 320vw;
  overflow: hidden;
  background-position: top center;
  background-attachment: fixed;
}

.zxc {
  cursor: pointer;
  margin-bottom: 36px;
  z-index: 4;
}

.menu-container {
  z-index: 15;
}

.left-nav-bar {
  padding-left: 60px;

  width: 70%;
  color: #F6F1FF;
  z-index: 2;
}

.left-nav-bar p {
  cursor: pointer;
}

.void {
  width: 8vw;
}

.main-wrapper {
  height: 48vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nevidimka {
  opacity: 0;
  transition-duration: all ease 1s;
  animation: smooth 1s ease-in;
}

@-webkit-keyframes smooth {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

footer {
  font-family: Hauora;
  position: absolute;
  width: 100vw;
  height: 18vh;

  overflow: hidden;

  background-color: #080839;

}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.footerContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

  padding: 1vh 3vw 1vh 3vw;
}

.footer-central-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 65%;
}

.footer-right-elements {
  display: flex;

  justify-content: space-between;
  align-items: flex-start;

  width: 75%;
  height: 30%;
}

.logo_container {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  margin-right: 20%;
  height: 55%;
}

.site_address {
  color: #f6f1ff;
}

.contacts_container {
  width: 15%;
  display: flex;
  align-items: center;
}

.contacts_container a {
  margin-right: 10%;
}

.contactsLogo {
  max-width: 4vh;
  max-height: 4vh;
  height: 3.5vh;
}

.numbers {
  font-size: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addresses {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 24px;
}

.copyright_container {
  font-size: 12px;
  height: fit-content;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 50%;
  position: absolute;
  right: 2.5vw;
  bottom: 20px;
}

.starWars-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -2;
}