@font-face {
  font-family: "Angst";
  src: url(../font/angst/static/Angst-Normal.otf);
}

@font-face {
  font-family: "hauora";
  src: url(../font/hauora_sans/fonts/web/Hauora-Regular.woff);
}

h5 {
  font-family: 'hauora';
  color: #f6f1ff;

  font-size: 1rem;
}

h3 {
  font-family: 'hauora';
  font-size: 18px;

  line-height: 130%;

  color: #ECA100;
}

h4 {
  font-family: 'hauora';
  font-size: 16px;

  line-height: 130%;

  color: #F6F1FF;
}

.b5 {
  font-size: 14px;

  line-height: 130%;

  color: #F6F1FF;
}

 button {
  border: none;
  
  background-color: #ECA100;

  cursor: pointer;
}

button:hover {
  background-color: #FFB007;
}

.copyright_container a {
  color: #F6F1FF;
}

.copyright_container div {
  color: #F6F1FF;
}

.popUp {
  display: none;

  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color:rgba(24, 14, 68, 0.3);
  backdrop-filter: blur(5px);
  z-index: 2;

  justify-content: center;
  align-items: center;
}

.popUp.active {
  display: flex;
}

.popUp-large {
  height: 60%;
  width: 50%;

  background: #f6f1ff;
}



.popUp3 {
  display: none;
  z-index: 2;
}
.popUp3.active {
  display: block;
}

.popUp1 {
  display: none;
  z-index: 2;
}
.popUp1.active {
  display: block;
}


.copyright_container a {
  color: #F6F1FF;
}

.copyright_container div {
  color: #F6F1FF;
}



html {
  font-family: "Khula", sans-serif;
}

.wrapper {
  height: 100vh;
  background-color: rgba(255, 255, 255, 0);
}

.bgImage-container {
  position: absolute;
  background-image: url(../assets/bg.png);
  height: 100%;
  width: 100vw;
  background-size: cover;
  overflow-x: hidden;
  z-index: -2;
}

.header {
  padding: 48px 60px 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100vw;

  z-index: 2;
}

.main-title {
  font-family: Angst;
  color: #eca100;
  font-size: 95px;
  margin-top: 65px;
  text-transform: uppercase;
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  top: 25%;
  transition-duration: all ease 1s;
  width: 80%;
  
  width: 860px;
  height: 307px;
  line-height: 110px;

}

.main-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-sub-title {
  margin-top: 3%;

  font-family: hauora;
  color: #f6f1ff;
  font-size: 16px;
}

.info-blocks {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  column-gap: 110px;
}

.info-block {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);

  width: 700px;
  height: 170px;

  padding: 30px 40px 20px 30px;

  z-index: 1;
}

.info-blocks .left .video-content {
  object-fit: cover;
  width: 13vw;
  height: 15vh;
  max-height: 170px;
}

.info-blocks .left .right-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 85%;
  width: 60%;
}

.info-blocks .right button {
  height: 25%;
  width: 90%;
}

.info-blocks .right .left-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 85%;
  width: 32%;
}

.info-blocks .right .left-elements h3 {
  color: #F6F1FF;
}

.info-blocks .right .left-elements button h4 {
  color: #000000;
}

.info-blocks .right .right-elements {
  display: flex;

  flex-direction: column;

  height: 85%;
  width: 60%;
}

.info-blocks .right .right-elements img {
  width: 70%;
}

.info-blocks .steps {
  display: flex;

  align-items: flex-end;
  justify-content: space-between;
}

.steps .step {
  width: 20%;
}

.range-wrapper {
  margin-top: 110px;
  position: relative;
  display: flex;
  background: black;
  width: 100%;
  padding: 0;
}

.step h4 {
  font-family: "Angst";

  font-size: 1.5rem;

  line-height: 130%;

  color: #ECA100;
}

.range {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.range:hover {
  opacity: 1;
}

.input-container {
  position: relative;
  display: flex;
  margin-top: 12vh;
}

input[type="range"] {
  appearance: none;
  background-color: white;
  width: 100%;
  height: 1px;
  padding: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -moz-appearance: none !important;
  appearance: none !important;
  position: relative;
  height: 20px;
  width: 100px;
  background: transparent;
  cursor: pointer;
  z-index: 2;
}

.range-text {
  user-select: none;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: orange;
  text-align: center;
  line-height: 1;
  height: 20px;
  top: -0.9vh;
  width: 100px;
  transform: translate(0, 2px);
}

body {
  overflow-x: hidden;
}

.stars {
  transform: translate(50% - (width/2), -(50% - (height/2)));
}

.wars {
  transition: all ease 1.5s;
  z-index: -1;
  height: auto;
  position: absolute;
  top: -80%;
  left: -110%;
  width: 320vw;
  overflow: hidden;
  background-position: top center;
  background-attachment: fixed;
}

.zxc {
  cursor: pointer;
  margin-bottom: 36px;
  z-index: 3;
}

.left-nav-bar {
  padding-left: 60px;
  height: 200px;
  width: fit-content;
  color: #F6F1FF;
  z-index: 2;
}

.left-nav-bar p {
  cursor: pointer;
}

.void {
  width: 150px;
}

.main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nevidimka {
  opacity: 0;
  transition-duration: all ease 1s;
  animation: smooth 1s ease-in;
}

@-webkit-keyframes smooth {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

footer {
  font-family: Hauora;
  position: absolute;
  width: 100vw;
  height: 18vh;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: inherit;
}
.footerContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #080839;
}
.logo_container {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.logo {
  margin-right: 50px;
  max-width: 144px;
  max-height: 75px;
}
.site_address {
  margin-top: 3.2%;
  font-size: 16px;
  color: #f6f1ff;
}
.contacts_container {
  width: 196px;
  display: flex;
  align-items: center;
}
.contactsLogo {
  margin-right: 22px;
  max-width: 33px;
  max-height: 33px;
}
.numbers {
  font-size: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.addresses {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 24px;
}
.copyright_container {
  font-size: 12px;
  height: fit-content;
  width: 970px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 50%;
  position: absolute;
  right: 70px;
  bottom: 20px;
}

.starWars-container{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -2;
}
